{% extends 'base.html.twig' %}

{% block title %}Edit Scripts{% endblock %}

{% block body %}
    <h1>Edit Scripts</h1>

    {{ include('scripts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_scripts_index') }}">back to list</a>

    {{ include('scripts/_delete_form.html.twig') }}
{% endblock %}
