{% extends 'base.html.twig' %}

{% block title %}New Scripts{% endblock %}

{% block body %}
    <h1>Create new Scripts</h1>

    {{ include('scripts/_form.html.twig') }}

    <a href="{{ path('app_scripts_index') }}">back to list</a>
{% endblock %}
