{% extends 'base.html.twig' %}

{% block title %}Edit TrapsSnmp{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">Edit Traps Snmp</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo2') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>

    {{ include('traps_snmp2/_form.html.twig', {'button_label': 'Update'}) }}
<br><br>
    <a class="btn btn-secondary" href="{{ path('app_traps_snmp') }}">back to list</a>

    {{ include('traps_snmp2/_delete_form.html.twig') }}
{% endblock %}
