{% extends 'base.html.twig' %}

{% block title %}New Serveurs{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1 class="pagetitle">New Serveur</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_ooredoo') }}">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>

    {{ include('serveurs/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_serveurs_index') }}">back to list</a>
{% endblock %}
