{% extends 'base.html.twig' %}

{% block title %}Edit Requetessql{% endblock %}

{% block body %}
    <h1>Edit Requetessql</h1>

    {{ include('requetessql/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_requetessql_index') }}">back to list</a>

    {{ include('requetessql/_delete_form.html.twig') }}
{% endblock %}
