{% extends 'base.html.twig' %}

{% block title %}Edit Cluster{% endblock %}

{% block body %}
    <h1>Edit Cluster</h1>

    {{ include('cluster/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cluster_index') }}">back to list</a>

    {{ include('cluster/_delete_form.html.twig') }}
{% endblock %}
